// Colores principales
$color__primary: #F8F8F8;
$color__secondary: #BAE8E8;
$color__text: #434343;

// Colores oscuros
$color__primary--dark: #251B37;
$color__secondary--dark: #372948;
$color__text--dark: #FFCACA;

// Colores madera
$color__primary--wood: #1C0A00 ;
$color__secondary--wood: #361500;
$color__text--wood: #CC9544;